/* BONUS */
.bonus {
    height: 100vh;
    /* DEBUG */
    background-color: darkblue;
}


/* COLORS */
.star {
    background-color: #16256a;
}

.universe {
    background-color: #00030c;
}

.brighter {
    background-color: #304db3;
}

.even-brighter {
    background-color: #6594f0;
}

.light {
    background-color: #8dbdff;
}

.core {
    background-color: #cbedf9;
}

.white-star {
    background-color: white;
}

/* BOXES */
.box {
    height: 100px;
}

.box-50 {
    height: 50px;
}

.box-75 {
    height: 75px;
}

.box-30 {
    height: 30px;
}
/* UTILITIES */
.mt {
    margin-top: 3.2rem;
}

.mb {
    margin-bottom: 3rem;
}
